@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
background-color: #26242C !important;
color: #FFF !important;
/* margin: 0px !important; */
}

body {
  font-family: 'Roboto', sans-serif !important;
}



