h3 {
    font-weight: 700 !important;
    margin: 0px;
    margin-bottom: 0px !important;
    padding: 0px;
}

.carousel-caption {
    top: 1.25rem !important;
    text-align: left !important;
    left: 54px !important;
    right: 54px !important;
}

p {
    margin: 0px;
    padding: 0px;
}
.caption-title {
    display: inline-block;
}

.caption-sol {
    display: inline-block;
    float: right;
    text-align: right;
}

.sol-date {
    font-weight: 700;
    margin-bottom: -4px;
}

.carousel-item {
    background: rgb(0,0,0) !important;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 60%) !important;
}

img { 
z-index: -1 !important;
}