h3 {
    font-weight: 700 !important;
    margin: 0px;
    margin-bottom: 0px !important;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.carousel-caption {
    top: 1.25rem !important;
    text-align: left !important;
    left: 54px !important;
    right: 54px !important;
}

.caption-title {
    display: inline-block;
}

.caption-sol {
    display: block;
    float: right;
    text-align: right;
}

.sol-date {
    font-weight: 700;
    margin-bottom: -4px;
}
